* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.padded {
  padding: 0px 20px;
}

.flexbox {
  display: flex;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
}

.centeredV {
  align-items: center;
}

.centeredH {
  justify-content: center;
}

.centered-text {
  text-align: center;
}

.column {
  flex-direction: column;
}

.small {
  max-width: 700px;
  margin: 0px auto;
}

.header-body {
  justify-content: space-between;
}

.heading {
  margin-top: 120px;
  font-size: 50px;
  font-weight: 400;
}

.links {
  display: flex;
  justify-content: space-between;
}

.header-link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin-left: 20px;
}

.computer-container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.computer-container .computer {
  width: 640px;
  height: 448px;
  background: #F5F9FD;
  border-radius: 18px;
  position: relative;
  margin: auto;
  padding: 25px 25px;
}

.computer-container .computer .screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  background: white;
}

.computer .terminal {
  height: 100%;
  color: #85FF00;
  background-color: #002b36;
}

.terminal .commands {
  border-radius: 0 0 5px 5px;
  padding-left: 20px;
  padding-top: 20px;
  height: 100%;
  font-size: 14pt;
}

.footer, .header {
  background-color: #CF4647;
  color: white;
}

.header {
  padding: 20px 0 90px 0;
  overflow: hidden;
}

.logo {
  height: 40px;
}

.info {
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
}

.info-container .button {
  margin-top: 40px;
}

.info-container .button a, .footer .footer-button {
  display: inline-flex;
  height: 40px;
  padding: 0 30px;
  background: white;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #CF4647;
  border: 1px solid white;
  text-decoration: none;
}

.features {
  display: flex;
  padding: 90px 0;
  justify-content: space-between;
}

.feature-item {
  width: calc(100%/3);
  padding: 0 20px;
}

.feature-item h3, .sub-heading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

.feature-item img {
  margin-bottom: 30px;
  color: black;
}

.feature-item p, .sub-paragraph {
  margin-top: 10px;
  color: #7F7F7F;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.about {
  padding: 90px 0;
  background-color: #3A3E64;
  color: rgba(255, 255, 255, 0.6);
}

.editor {
  background-color: #141414;
}

.editor .top-menu {
  display: flex;
  height: 50px;
  background-color: #E5E4E4;
  align-items: center;
  border-radius: 5px 5px 0 0;
}

.top-menu .editor-button {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  box-shadow: 0px 0px 10px 1px;
}

.editor-button.close {
  background-color: red;
  margin-left: 10px;
}

.editor-button.minimize {
  background-color: yellow;
}

.editor-button.maximize {
  background-color: green;
}

.editor-filename {
  color: #141414;
  font-family: 'DejaVu Sans Mono', monospace;
  font-size: 12pt;
  font-weight: 600;
  margin-left: 10px;
}

.editor pre {
  overflow-x: auto;
  border-radius: 0 0 5px 5px;
  padding-left: 20px;
  height: 100%;
}

.editor code, .editor code span {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
}

.hljs {
  background: none;
}

.mention {
  padding: 90px 0;
}

.footer {
  padding: 45px 0;
}

.footer p {
  color: white;
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}

.footer-button {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .features {
    flex-direction: column;
    align-items: center;
  }
  .feature-item {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .computer-container .computer {
    margin: auto;
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 500px) {
  .mobile-show {
      display: none;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
